* {
  font-family: "JetbrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
}

@keyframes blink_red {
  to {
    background-color: rgba(204, 102, 102, 0.2);
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar {
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 10px;
}

window#waybar.empty #window {
  background-color: rgba(35, 35, 35, 0.8);
}

#workspaces {
  background-color: rgba(35, 35, 35, 0.8);
  border-radius: 10px;
  margin: 4px 8px;
  padding: 0 4px;
}

#workspaces button {
  padding: 4px 6px;
  color: #d6d6d6;
  transition: all 0.3s ease;
}

#workspaces button.active {
  color: #d6d6d6;
}

#clock,
#pulseaudio,
#custom-power,
#temperature,
#cpu,
#tray,
#memory,
#network,
#mpris,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 10px;
  background-color: rgba(35, 35, 35, 0.8);
  color: #d6d6d6
}

#mpris.playing {
  color: #7fbf7f;
}

#mpris.paused {
  color: #7f99bf;
}

#custom-power {
  font-size: 16px;
  padding-right: 11px;
}

tooltip {
  background-color: rgba(30, 30, 30, 0.8);
}

tooltip label {
  color: #d6d6d6;
}