* {
  border-radius: 0;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: rgba(30, 30, 30, 0.75);
  color: #d6d6d6;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces button {
  padding: 0 5px;
  margin: 0.3rem 0.25rem;
  border-radius: 4px;
  color: #d6d6d6;
}

#workspaces button.active {
  background-color: rgba(35, 35, 35, 0.3);
}

#workspaces button.urgent {
  background-color: rgba(204, 102, 102, 0.2);
  color: #d6d6d6;
}

#workspaces button:hover {
  background-color: rgba(35, 35, 35, 0.45);
  color: #d6d6d6;
}

#clock,
#pulseaudio,
#cpu,
#disk,
#temperature,
#tray,
#memory,
#wlr-taskbar,
#window,
#mpris {
  padding: 0.3rem 0.5rem;
  margin: 0.2rem 0.2rem;
  background-color: transparent;
}

#mpris.playing {
  color: #7fbf7f;
}

#mpris.paused {
  color: #7f99bf
}

#custom-power {
  font-size: 20px;
  padding-right: 14px;
  padding-left: 14px;
}

tooltip {
  background-color: rgba(30, 30, 30, 0.8); 
}

tooltip label {
  color: #d6d6d6;
}