* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  transition-duration: 0.5s;
  background-color: transparent;
}

#workspaces {
  padding: 4px;
  background: rgba(35, 35, 35, 0.8);
  border-radius: 20px;
  margin: 5 5px;
}

#workspaces button{
  padding: 0px 7px;
  border-radius: 12px;
  font-weight: 900;
  margin: 1 5px;
  transition: 0.4s;
  background-color: transparent;
  color: #d6d6d6;
}

#workspaces button.active{
  background-color: #d6d6d6;
  color: #1a1816;
  padding: 0 20px;
}

#workspaces button.urgent {
  background-color: rgba(204, 102, 102, 0.2);
  color: #d6d6d6;
}

#clock,
#pulseaudio,
#custom-power,
#cpu,
#temperature,
#disk,
#network,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 10px;
  background-color: rgba(35, 35, 35, 0.8);
  color: #d6d6d6
}

#mpris.playing {
  color: #7fbf7f;
}

#mpris.paused {
  color: #7f99bf;
}

#custom-power {
  font-size: 16px;
  padding-right: 12px;
}

tooltip {
  background-color: rgba(35, 35, 35, 0.8);
}

tooltip label {
  color: #d6d6d6;
}
