window {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 100px;
    margin: 15px;
    padding: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-size: 50%;
    box-shadow: 0 0 20px #89b4fa;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 10px #89b4fa;
    }
    to {
        box-shadow: 0 0 20px #cba6f7;
    }
}

#lock     { background-image: image(url("./icons/lock.png")); }
#suspend  { background-image: image(url("./icons/suspend.png")); }
#shutdown { background-image: image(url("./icons/shutdown.png")); }
#reboot   { background-image: image(url("./icons/reboot.png")); }
#logout   { background-image: image(url("./icons/logout.png")); }
#hibernate  { background-image: image(url("./icons/hibernate.png")); }