@keyframes glowing {
    0% {
        box-shadow: 0 0 10px #ff69b4; /* rosa */
    }
    20% {
        box-shadow: 0 0 10px #ff69b4;
    }
    80% {
        box-shadow: 0 0 10px #ffffff; /* branco */
    }
    100% {
        box-shadow: 0 0 10px #00bfff; /* azul */
    }
}

* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    transition: 10ms;
}

window {
    background: rgba(0, 0, 0, 0.3);
    font-size: 0px;
}

button {
    background: transparent;
    outline: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 30px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 10s ease-in infinite;
}

button:hover {
    background-size: 40%;
    animation: glowing 1s infinite alternate;
    outline: none;
}

/* ========== BOTÕES ========== */
/* Garanta que esses ícones estejam em ~/.config/wlogout/icons/ */

#lock {
    background-image: url("./icons/lock.png");
}

#suspend {
    background-image: url("./icons/suspend.png");
}

#shutdown {
    background-image: url("./icons/shutdown.png");
}

#reboot {
    background-image: url("./icons/reboot.png");
}

#logout {
    background-image: url("./icons/logout.png");
}